float d1 : 79
float d2 : 136
@limits <lower=0,upper=1>
@prior
float prior1
float gene1
prior1 = beta(1,1)
gene1 = flip(0.2)
gene1 = flip(prior1)
if (gene1){ 
        @observe
        d1 = normal(80, 8)
}
else{
        @observe
        d1 = normal(135, 8)
}
return(prior1)
    


